@import "../../vars";
@import "../../mixins";

.history {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex-grow: 2;
    .historyGraph {
        flex-grow: 2;
    }
}

.top > div:last-child {
    .historyMenu {
        display: flex;
        justify-content: flex-start;
        .bbutton {
            flex-grow: 0;
        }
    }
}
