@mixin big_unit {
    font-size: 50px;
    font-family: 'DigitFonts';
}

@mixin big_value {
    font-size: 110px;
    font-family: 'DigitFonts';
}

@mixin mid_unit {
    font-size: 35px;
    font-family: 'DigitFonts';
}

@mixin mid_value {
    font-size: 70px;
    font-family: 'DigitFonts';
}

@mixin ms_value {
    font-size: 50px;
    font-family: 'DigitFonts';
}

@mixin small_unit {
    font-size: 25px;
    font-family: 'DigitFonts';
}

@mixin small_value {
    font-size: 40px;
    font-family: 'DigitFonts';
}

@mixin small_name {
    font-size: 15px;
}

@mixin top {
    padding: 0px 10px;
    min-height: 60px;
    height: 60px;
    border-bottom: $border_size solid $border_colour;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@mixin unselected_text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}