@font-face {
    font-family: 'DigitFonts';
    src: url('./utils/digital-7.ttf')  format('truetype');
}

$main_height: 480px;
$main_width: 800px;

$main_colour: whitesmoke;

$humidity_colour: DodgerBlue;

$border_size: 2px;
$border_colour: #989898;

$digit_font: 'DigitFonts';
